!! ~/.Xresources

!! Font & font size
URxvt*font: xft: DejaVu Sans Mono: pixelsize=16

!! Letter & line spacing 
URxvt*letterSpace: 0
URxvt*lineSpace: 2

!! Cursor colour & blink
URxvt*cursorColor: Magenta
URxvt*cursorBlink: false

!! Foreground & background colours
URxvt*foreground: White
URxvt*background: #303030

!! Set the scrollback buffer
URxvt*saveLines: 10000

!! Scroll one line up or down
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

!! Copy & paste using CTL-SHIFT-C & CTL-SHIFT-V
URxvt*keysym.Control-Shift-C: eval: selection_to_clipboard
URxvt*keysym.Control-Shift-V: eval: paste_clipboard

!! Disables the CTL-SHIFT picture mode binding
URxvt*iso14755: false
